/*
	only use for general purposes
	for page-specified changes, use the correct css file
*/


/*
	HTML DOMs from bigger to smaller
*/

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');

* {
	box-sizing: border-box;
}

html body {
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	font-family: 'Work Sans';
	background-color: red;
	cursor: default;
}

nav {
	width: 100%;
	background-color: yellow;
	color: red;
	overflow: hidden;
}

nav a {

	float: left;
	text-align: center;
	padding: 1rem 2rem;
	text-decoration: none;
	color: black;
}

#menu-right {
	float: right;
}

nav a:hover {
	background-color: #ddd;
	color: #ff2700;
}

#logo {
	cursor: default;
}

#logo:hover {
	background-color: #feb236;
	color: black;
	cursor: pointer;
}

.main {
	display: flex;
  	flex-wrap: wrap;
}

.contant {
	width: 75%;
}

aside {
	width: 25%;
	padding: 2rem;
	background-color: #f1f1f1;
}

.active {
	background-color: #ddd;
	color: #ff2700;
}

/* Responsive layout*/
@media screen and (max-width: 700px) {
  .main {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  nav a {
    float: none;
    width: 100%;
  }
}

h3 {
	font-family: 'Signika';
}
