/*
	for the movies.html's design
*/

p {
	text-align: center;
}

body {
	background-color: red;
}

img.filmpic {
            width: 9.375rem;
			height: 13.75rem;
            border: 50%;
            padding: 0px;
			display: fixed;
			transition: 0.2s;
			opacity: 0.95;
        }

img.filmpic:hover {
	transform: scale(1.2);
	opacity: 1;
	cursor: pointer;
}

div.placeForPic {
    width: 9.375rem;
    height: 17.1875rem;
    background-color: #ddd;
    float: left;
    text-align: center;
    margin-right: 1.875rem;
	margin-left: 1.875rem;
	margin-top: 0.625rem;
	margin-bottom: 1.25rem;
    display: block;
	border-radius: 0.625rem;
	box-shadow: 5px 5px 5px rgba(23, 20, 37, 0.5);

}

div.redstuff {
    width: 9.375rem;
    height: 13.75rem;
    background-color: red;
    float: left;
    text-align: center;
    margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
    display: block;
	overflow: hidden;
}
